<div class="row">
  <% for (var item in site.data.stories){%>
    <div class="col">
      <div class="card rounded bg-white">
        <a href="<%=url_for(site.data.stories[item]['link']) %>">
          <img class="card-img lazyload" data-src="<%=url_for(site.data.stories[item]['cover']) %>" alt="<%=site.data.stories[item]['name'] %>">
        </a>
        <div class="card-body px-4">
          <h5 class="card-title line-clamp line-clamp-1">
            <a href="<%=url_for(site.data.stories[item]['link']) %>">
              <%=site.data.stories[item]['name'] %>
            </a>
          </h5>
          <hr class="hr">
          <p class="card-text text-gray line-clamp line-clamp-2"><%=site.data.stories[item]['description'] %></p>
        </div>
      </div>
    </div>
  <%} %>
</div>