<nav class="<%= class_name %>">
  <% for (var section_index in site.data.sidebar) { %>
    <% var section = site.data.sidebar[section_index] %> 
    <ul class="menu mb-4">
      <h6 class="text-primary"><%= section['title'] %></h6>
      <% for (var item_index in section['items']) { %>
        <% var item = section['items'][item_index] %> 
        <%
          var className = ""
          if (item['id'] == page.id) {
            className = "active"
          }
        %>
      <li class="menu-item <%= className %>">
        <a class="menu-item-link" href="<%= item['id'] %>.html">
          <%= item['title'] %>
        </a >
      </li>
    <% } %>
    </ul>
  <% } %>
</nav>
