<div class="col-4">
  <div class="card shadow-hover">
    <a href="<%= plugin.link %>">
      <img class="card-img" src="<%= plugin.cover %>" alt="<% plugin.name %>">
    </a>
    <div class="card-body bg-light">
      <h5 class="card-title">
        <a href="<%= plugin.link %>">
          <%= plugin.name %>
        </a>
      </h3>
      <hr class="hr">
      <div class="card-text text-gray"><%= plugin.description %></div>
    </div>
  </div>
</div>