<div class="row justify-content-center">
  <% for (var item in site.data.pricing){%>
    <div class="col-3">
      <div class="card bg-white rounded-spacer text-center shadow-hover">
        <div class="card-body py-5">
          <h6 class="text-gray"><%=site.data.pricing[item]['name'] %></h6>
          <img class="img-fluid lazyload" data-src="<%=site.data.pricing[item]['cover'] %>" alt="<%=site.data.pricing[item]['name'] %>" role="img">
          <h2 class="text-primary mb-0 currency" data-currency="¥"><%=site.data.pricing[item]['pricing'] %></h2>
          <p class="text-gray mb-3"><%=site.data.pricing[item]['deadline'] %></p>
          <p class="mb-5"><%=site.data.pricing[item]['description'] %></p>
          <a class="btn btn-lg btn-primary text-white" href="<%=site.data.pricing[item]['link']['url'] %>"><%=site.data.pricing[item]['link']['text'] %></a>
        </div>
      </div>
    </div>
  <%} %>
</div>