<div class="col-3">
  <div class="card rounded">
    <a href="<%= url_for(plugin.link) %>">
      <img class="card-img lazyload" data-src="<%= url_for(plugin.cover) %>" alt="<% plugin.name %>">
    </a>
    <div class="card-body bg-light">
      <h5 class="card-title line-clamp line-clamp-1">
        <a href="<%= url_for(plugin.link) %>"><%= plugin.name %></a>
      </h5>
      <hr class="hr">
      <div class="card-text text-gray line-clamp line-clamp-2"><%= plugin.description %></div>
    </div>
  </div>
</div>